/backend/config/__pycache__
/backend/exercises/__pycache__
/backend/exercises/migrations/__pycache__
/backend/users/__pycache__
/backend/users/migrations/__pycache__
/venv
/backend/.venv
.hintrc
/backend/exercises/migrations
/backend/exercises/migrations
/backend/things/__pycache__
/backend/things/migrations/__pycache__
